:host {
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-grey);
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  transition: padding-left 0.3s ease;
  overflow: hidden;

  &.sidebar-visible {
    padding-left: 300px;
  }
}

.main-content {
  flex: 1;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--background-light);
  border-radius: 16px;
  box-shadow: var(--shadow-sm);
  overflow: auto;
} 